<div>
  <div class="container">
    <h1>{{title}}</h1>
    <div class="card">
      <div class="input-container">
        <div class="field">
          <label>Start time </label><input [(ngModel)]="startTime" type="number" placeholder="Enter start time">
        </div>
        <div class="field">
          <label>End time </label><input [(ngModel)]="endTime" type="number" placeholder="Enter end time">
        </div>
      </div>
      <button (click)="addEvent()">Submit</button>
      <div class="error" *ngIf="error.length">{{error}}</div>
    </div>
    <ul *ngIf="events.length" class="timeline">
      <li class="event" *ngFor="let event of events">
       {{ event.start_time }}-{{ event.end_time }}
      </li>
    </ul>
  </div>
</div>